body {
  background: #33568f;
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#button {
  height: 75px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #961e3a;
  box-shadow: 5px 5px 5px #243d66;
  cursor: pointer;
  font-family: "Century Gothic";
  font-size: 1.2em;
  color: white;
  background: #cc274d;
}

#button:active {
  background: #961e3a;
  border: 1px solid #75162c;
}

#button:focus {
  outline: none;
}
