#helloworldcontainer{
	color: #525252;
	font-size: 10em;
  font-family: "Montserrat";
  font-weight: bold;
	text-align: center;
	height: 50%;
}

#flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

#clickme {
  display: block;
}

#clear {
  display: none;
}

button {
  height: 75px;
  width: 150px;
  border-radius: 40px;
  border: 1pt solid #3b3b3b;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  background: #e6e6e6;
}

button:hover{
  animation: btn-animate 0.25s ease-in-out 0s 1 both;

}

@keyframes btn-animate {
  0% {
    color: black;
    background: #e6e6e6;
    border: 1pt solid #3b3b3b;
  }

  100% {
    color: white;
    background: #b12545;
    border: 1pt solid #961e3a;
  }
}

button:active {
  background: #961e3a;
  border: 1px solid #75162c;
}

button:focus {
  outline: none;
}